[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pylint = "*"
autopep8 = "*"

[packages]
coverage = "*"
coveralls = "*"
django = "*"
djangorestframework = "*"
django-cors-middleware = "*"
django-extensions = "*"
pyjwt = "*"
django-heroku = "*"
psycopg2 = "*"
gunicorn = "*"
psycopg2-binary = "*"
six = "*"

[requires]
python_version = "3.7"
